{% load leaflet_tags %}
<html>

<head>
    <title>Khanh IST CHECKER</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">
    <script src="{% static 'groupedlayercontrol/leaflet.groupedlayercontrol.js' %}"></script>
</head>


<body>


    <div class="jumbotron text-center"><h2>Pet map FU Berlin 2019/2020</h2></div>

    <body><div id="petmap" style="height: 600px; width: 100%;"></div></body>
    {% leaflet_map "pet map" %}

    <script type="text/javascript">
        var map = L.map('petmap', { center: [52.520008, 13.404954], zoom: 10,
        });

        let osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });

        let topo = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
            maxZoom: 17,
            attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, ' +
                '<a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> ' +
                '(<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
        });

        let satellit = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            maxZoom: 18, attribution: 'Map data © Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        });

        osm.addTo(map)
    </script>
</body>

</html>
